<!--@subject Request Sent @-->
 
{{template config_path="design/email/header_template"}}
<table>
     <tr>
         <td><b>Your Name</b>: {{var fname}} {{var lname}} </td>
     </tr>
     <tr>
         <td><b>Your Email</b>: {{var email}} </td>
     </tr>
    <tr>
         <td><b>Your Phone</b>: {{var phone}} </td>
     </tr>
     <tr>
         <td><b>Street Address</b>: {{var street_address}} </td>
     </tr>
     <tr>
         <td><b>Apartment</b>: {{var apartment}} </td>
     </tr>
     <tr>
         <td><b>Country</b>: {{var country}} </td>
     </tr>
     <tr>
         <td><b>Region</b>: {{var region}} </td>
     </tr>
     <tr>
         <td><b>City</b>: {{var city}} </td>
     </tr>
     <tr>
         <td><b>Post</b>: {{var postcode}} </td>
     </tr>     
 </table>
 
{{template config_path="design/email/footer_template"}}